/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// Font size: 
$my-font-size: 12;

// Colors
$light-sage-green: #E2EFDE;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$gray: #64605f;
$light-gray: #949799;
$purple: #AE8BD1;
$mint-green:#AFD0BF;


$light-pink: #F172A1;
$light-green: #479761;
$pastel-coral: #FFCCBC;
$light-turquoise: #99CED3;


// Base Document Colors
$navbar-bg: $mint-green; // navbard background color
$footer-bg: $mint-green; // footer background color
$body-bg: $light-sage-green; // tab background color:
$link-color: $light-green;





